@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
:root {
  --font-primary: "Lato", sans-serif;
  --primary-color: #800000;
  --secondary-color: #055d57;
  --alternate-color: #d9d9d9;
  --header-height: 93px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
}
.container {
  max-width: 960px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo-img {
  height: 40px;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 24rem;
}

.search-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  pointer-events: none;
  color: #544f4f;
}

.search-input {
  width: 100%;
  padding-left: 45px;
  border-radius: 9999px;
  background-color: #f9fafb;
  color: #4b5563;
  border: 1px solid #e5e7eb;
  outline: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.create-menu {
  position: relative;
  display: inline-block;
}

.create-button {
  background-color: #e63946;
  color: white;
  padding: 8px 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  width: 150px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.create-menu:hover .create-dropdown {
  opacity: 1;
  visibility: visible;
}

.create-menu-list {
  padding: 8px 0;
  margin: 0;
  list-style: none;
}

.create-menu-item {
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

.create-menu-item:hover {
  background-color: #f4f4f4;
}

.notification-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.profile-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.profile-btn {
  border: 2px solid #ddd;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  width: 160px;
  background-color: rgb(222, 43, 43);
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.profile-menu:hover .profile-dropdown {
  opacity: 1;
  visibility: visible;
}

.profile-menu-list {
  padding: 8px 0;
  margin: 0;
  list-style: none;
}

.profile-menu-item {
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

.profile-menu-item:hover {
  background-color: #f4f4f4;
}

/* layout main  */
.main-content {
  margin-left: 259px;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 1200px;
}

/* Sidebar Styles */
.sidebar {
  height: 100%;
  width: 259px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: var(--header-height);
  padding-top: 1rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  background-color: transparent;
  color: #484848;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.profile-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
}
.profile-item:hover {
  background-color: #f0f0f0;
}
.menu-item:hover {
  background-color: #f3f4f6;
  color: #111827;
}

.menu-item.active {
  background-color: #e5e7eb;
  color: #1f2937;
  font-weight: 600;
}

.icon {
  margin-right: 12px;
}
/* Basic styling for the dropdown container */
.dropdown-container {
  position: relative;
  display: inline-block;
}

/* Styling for the button */
.dropdown-button {
  /* color: #FFFFFF; */
  font-family: var(--font-primary);
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* background-color: var(--primary-color) */
}
.my-dropdown {
  color: #ffffff;
  background-color: var(--primary-color);
}

/* Dropdown arrow icon */
.dropdown-icon {
  margin-left: 10px;
}

/* Styling for the dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

/* Styling for each menu item */
.dropdown-item {
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

/* Remove the border from the last item */
.dropdown-item:last-child {
  border-bottom: none;
}
.modal {
  max-width: 500px;
  margin: 40px auto;
  padding: 24px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: #f4f4f4;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icon-circle {
  background: #f4eaea;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon {
  color: #7c0a02;
  font-size: 28px;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 6px;
  font-size: 14px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.clear-btn,
.save-btn {
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.clear-btn {
  background-color: #fceeee;
  color: #7c0a02;
}

.save-btn {
  background-color: #7c0a02;
  color: white;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* dim background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  width: 90%;
  max-width: 600px;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Optional: style inputs, buttons */
input,
select {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 0.25rem;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.clear-btn,
.save-btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.clear-btn {
  background: #f1f1f1;
  color: #333;
}

.save-btn {
  background: #7c0a02;
  color: white;
}
.profile-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.arrow-icon {
  margin-left: 0.5rem;
  color: #8b0000;
}
.sc-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 16px;
  /* width: 185px;
  height: 390px; */
}
.stat-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.stat-value {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}

.icon {
  font-size: 1.2rem;
  border-radius: 50%;
  padding: 0.3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.red-bg {
  background-color: #800000;
  color: white;
}
.db-container {
  display: flex;
  flex-direction: row;
  margin-top: -30px;
  background-color: #fafafa;
 
  /* height: 418px;
    width: 760px; */
}
.container-box {
  width: 100%;
  height: 360px;
  padding-top: 11px;
  margin-top: 30px;
  background-color: #ffffff;
   margin-right: 20px;
}

.db-container > * {
  flex: 1;
  
}
.db-btn {
  background-color: #ffffff;
  cursor: pointer;
  color: #333333;
  font-family: var(--font-primary);
  font-size: 14px;
  border: 2px solid#E6E6E6;
  border-radius: 4px;
  font-weight: 500;
}
.h-db {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 30px;
}
.h-db h1 {
  font-size: 24px;
  color: #333333;
  font-family: var(--font-primary);
  letter-spacing: 0.15px;
  font-weight: 500;
}
.s-stats {
  font-size: 14px;
  font-weight: 500;
  color: #757575;
}
.msc-container {
  display: flex;
  width: 100%;
}
.report-panel {
  height: 100%;
  padding-left: 20px;
}

.report-item {
  display: flex;
  align-items: center;
  padding: 16px 8px;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.user-reported {
  background-color: #fee2e2;
  color: #991b1b;
  padding: 20px;
  gap: 10px;
}

.article-flagged {
  background-color: #fefcbf;
  color: #92400e;
  padding: 20px;
  gap: 10px;
}

.icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.count {
  font-weight: 500;
  font-size: 16px;
  margin-right: 0.5rem;
  color: #333333;
}

.description {
  font-size: 14px;
  color: #757575;
  font-weight: 400;
}
.rp-wrapper {
  display: flex;
  flex-direction: column;
}
.reusable-table {
  border-collapse: collapse;
  background-color: #f9fafb;
  font-family: Arial, sans-serif;
}

.reusable-table th,
.reusable-table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.reusable-table th {
  background-color: #e5e7eb;
  font-weight: bold;
  color: #374151;
}

.reusable-table td {
  color: #4b5563;
}

.reusable-table tr:hover {
  background-color: #f3f4f6;
}
.chat-card {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  transition: background 0.2s;
}

.chat-card:hover {
  background-color: #f9f9f9;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-info {
  flex: 1;
  margin-left: 10px;
}

.name {
  font-weight: 600;
  font-size: 16px;
  color: #484848;

}

.time {
  font-size: 12px;
  font-weight: 400;
  color:#757575 ;
}

.chat-icon {
  font-size: 1.2rem;
  color: gray;
}
.recent-chats {
background-color: #fafafa;
padding:  8px 20px;
max-height: 400px;
overflow-y: auto;
display: flex;
flex-direction: column;
margin-bottom: 20px;

}
.chats-header {
      justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.chats-header h3 {
font-size: 16px;
font-weight: 600;
color: #333333;
}
.report-panel{
  margin-bottom: 20px;
}
.view-btn {
  border: none;
  color: #800000;
 margin-bottom:10px;

}
.view-btn:hover {
  background-color: #F8E6E8; 
}

.chat-list-container {
  margin-left: -30px;
  margin-top: -15px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.chat-sidebar {
  width: 100%;
  padding-left: 10px;
  max-width: 300px;
  min-width: 250px; /* optional: to avoid it becoming too small */
  height: 100vh;
  overflow-y: auto;
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
  flex-shrink: 0;
}

.chat-tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.chat-tab {
  color: #666;
  cursor: pointer;
}

.chat-tab.active {
  color: #800000;
  border-bottom: 2px solid #800000;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}
.chat-item:hover {
  background-color: #f0f0f0;
}
.chat-item.active {
  background-color: #e4e4e4;
}

.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.chat-details {
  flex-grow: 1;
}
.chat-header-h2{
  
   padding: 16px;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px solid #ddd; 
}
.chat-header-row {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 0.95rem;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.chat-viewer {
    flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  position: relative;
}
.chat-name {
  font-family: var(--font-primary);
  font-size: 16px;
  font-size: 400;
  color: #484848;
}

.chat-dropdown {
  color: #800000;
  cursor: pointer;
}

.chat-message {
  color: #666;
  font-size: 0.9rem;
  margin: 0.25rem 0;
}

.chat-timestamp {
  color: #999;
  font-size: 0.8rem;
}

.chat-placeholder {
  text-align: center;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.chat-placeholder-icon {
  font-size: 2rem;
  display: block;
  margin-bottom: 10px;
}

.list-h2 {
  font-family: var(--font-primary);
  font-size: 24px;
  font-weight: 600;
  color:#5c1f1f ;
  margin-bottom: 10px;
}
.recently-added {
  background-color: #fafafa;
  padding: 10px;
}
.header-recent{
  display: flex;
  justify-content: space-between;align-items: center;
  padding:  24px 22px;
}
.user-list {
  margin-top: 20px;
}